# env examples

TOKEN= "ODk3MjMyNDIxMTY5MjkxMjg0.Gghh5M.JTA9GABuccU4wrKLo_ajfExZ_blkKyNx0mUb9Q"
PREFIX= ">"
BOTMASTER= "274021702411747328"
MONGOURL= "mongodb+srv://admin:JusSmi68@istayutil.zppsi1m.mongodb.net/?retryWrites=true&w=majority"
